header {
    text-align: center;
}

nav {
    text-align: center; 
    border-style:dashed; 
    font-style: italic;
}
.ednaldo { 
    width: 100px; 
    border-radius: 100%;
}

fuster {
    text-align: center;
}

